<section>
<h1>加关注</h1>
 <p>
<a  id="hover_pop" href="http://weibo.com/tingkunz"  wb_user_id="1784430713" >niuyi_tw<span id="wb_follow_btn"> </a>
  </p>
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1166443256" type="text/javascript"> </script>
  <script type="text/javascript">
  WB2.anyWhere(function(W){
      W.widget.hoverCard({
          id: "hover_pop"
          });


      W.widget.followButton({
      uid: '1784430713',
      id: "wb_follow_btn"
        });
      });

  </script>
</section>